:host {
    all: initial;
    font-family: system-ui;
    color: black;
}

* {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.slide-in {
    animation: slide-in 0.3s ease-out;
}

@keyframes slide-in {
    from {
        transform: translateX(20%);
        opacity: 0.2;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
